.text-color {
    color: #289BDE;
}

.ins-bg-info {
    background-color: #F4FAFD;
}

.ready {
    color: aliceblue;
}

.to-join {
    background-color: #289BDE;
}

.all-btn-primary {
    background-color: #289BDE;
    color: aliceblue;
}

.all-btn-white {
    background-color: aliceblue;
}

.star li {
    list-style: none;
    display: inline-block;
}